.fadeIn {
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
}

.subTitleText.fadeIn {
    animation-delay: 0.25s;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}