/* fonts */

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro Bold';
    src: url('../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mochiy Pop One';
    src: url('../fonts/Mochiy_Pop_One/MochiyPopOne-Regular.ttf') format('truetype');
}

/* the general stuff */

:root {
    --font-primary: 'Source Code Pro', monospace;
    --bg-gradient: linear-gradient(to bottom, #fae9ff, #d8bafd, #c495fd);
    --color-dark: #000000;
    --color-white: #ffffff;
}

/* styling! */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: var(--font-primary);
    color: var(--color-dark);
    background-image: var(--bg-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;

    justify-content: center;
    align-items: center;
}

/* global typography */

.titleText, .subTitleText {
    margin: 0;
    padding: 0;
}

.titleText {
    font-size: 150px;
    position: relative;
}

.subTitleText {
    font-size: 25px;
    color: #ffffff;
    margin-top: 15px;
    letter-spacing: 2px;
    font-family: 'Mochiy Pop One';
}

p {
    font-size: 20px;
}

.linkText {
    color: #cb96ff;
}

/* responsive typography */

@media (max-width: 1080px) {
    h1 {
        font-size: 2cm;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }
}