/* fonts */

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro Bold';
    src: url('../fonts/Source_Code_Pro/static/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mochiy Pop One';
    src: url('../fonts/Mochiy_Pop_One/MochiyPopOne-Regular.ttf') format('truetype');
}

/* the general stuff */

body {
    text-align: center;
    font-family: 'Source Code Pro';
    color: black;
    background-image: linear-gradient(to bottom, #fae9ff, #d8bafd, #c495fd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

/* sections */

.box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 32px;
    width: 1000px;
    max-width: 95vw;
    height: 800px;
    max-height: 75vh;
}

.siteFooter {
    background-color: #ffffff;
    color: black;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Source Code Pro';
    margin-top: 100px;
    border-top: 2px solid;
}

#aboutBloggy {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px
}