/* the general stuff */

@font-face {
    font-family: 'Source Code Pro';
    src: url('../Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
    }

body {
    text-align: center;
    font-family: 'Source Code Pro';
    color: black;

    background-image: linear-gradient(to bottom, #fae9ff , #d8bafd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

/* sections */

#aboutBloggy {
    height: 100vh;
    background-color: #e7cffe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px
}