.titleText, .subTitleText {
    margin: 0;
    padding: 0;
}

.titleText {
    font-size: 150px;
    position: relative;
}

.subTitleText {
    font-size: 25px;
    color: #ffffff;
    margin-top: 15px;
    letter-spacing: 2px;
    font-family: 'Mochiy Pop One';
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.centerScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textBlock {
    display: flex;
    flex-direction: column;
}

.rightSpacing {
    margin-right: 100px;
}

.linkText {
    color: #cb96ff;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.grid-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 20px;
}

.grid-item {
    padding: 10px;
}