.box {
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 32px;
    max-width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteFooter {
    background-color: var(--color-white);
    color: var(--color-dark);
    text-align: center;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 40px 0;
    width: 100%;
}

#aboutBloggy {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}