/* text formatting */

.titleText, .subTitleText {
    margin: 0;
    padding: 0;
}

.titleText {
    font-size: 150px;
}

.subTitleText {
    font-size: 25px;
    color: rgb(131, 115, 149)
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.centerScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* animation */

.fadeIn {
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in forwards;
}

.subTitleText.fadeIn {
    animation-delay: 0.25s;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* the general stuff */

body {
    text-align: center;
    font-family: 'Source Code Pro';
    color: black;

    background-image: linear-gradient(to bottom, rgb(250, 233, 255) , rgb(216, 186, 253));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('Source_Code_Pro/static/SourceCodePro-Regular.ttf') format('truetype');
}

img {
    width: 200px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* beep boop buttons */

.goDownBtn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 20px;
    background-color: white;
    color: black;
    opacity: 0;
}

/* sections */

#aboutBloggy {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px
}